# 2489-2021 Data Curation T1 Final Exam 

The final exam will contain 1 question with subquestions. 

## Lemon or Peach? (60 points)

For those who have taken ECON 101, you should already be quite familar with the term **lemon car** that refers to a car found to be defective only after it has been bought. In 1970, economist George Akerlof published a paper "The Market for Lemons: Quality Uncertainty and the Market Mechanism" that explored how the quality of goods traded in a market can degrade in the presence of *information asymmetry* between buyers and sellers. This leads to the **adverse selection** problem that  sellers will sell only when they hold "lemons" and they will leave the market when they hold "peaches". As such, Adverse selection is a market mechanism that can lead to a market collapse. In 2001, Akerlof, along with Michael Spence, and Joseph Stiglitz, jointly received the Nobel Memorial Prize in Economic Sciences, for their research on issues related to asymmetric information.

![lemoncar](https://blog.drivetime.com/wp-content/uploads/2014/06/lemon-car.png)

Online information system creates platform for buyers and sellers to trade their goods with information about the goods. However, lemon problem becomes even worse as buyers have no way to verify and examine the goods (such as used cars) and have to rely on information posted by the sellers. 

In order to address this problem, large-scale historical purchase data would allow online retailers to alleviate the issue. For example, OLX group is a global online marketplace operating in 45 countries. The OLX marketplace is a platform for buying and selling services and goods such as electronics, fashion items, furniture, household goods, Properties, cars and bikes. Their business model is to charge sellers listing fees when they post the advertisement. Their business objective is to facilitate transactions on the platform such that buyers would be willing to repeately purchase quality goods with reasonable price and sellers would be willing to list more goods for profits. 

As the analyst, you are given the task **to examine the information about listings of used cars on OLX Portugal that a car is considered to be sold or not if the days of listing is within the 30 days.** Otherwise, the seller has to pay extra to relist the advertisement until it is sold or withdrawn. 



**OLX Car Dataset (olx_car_dataset.csv)**
All car listings are contained in the file olx_car_dataset.csv. Each line of this file after the header row represents one listing of car on the OLX platform, and has the following format:
**`'ID', 'region_id', 'private_business', 'price', 'make', 'model', 'fuel_type', 'mileage', 'reg_year', 'eng_capacity', 'color', 'capacity', 'dayslive'`**

The columns are quite self-explained. `dayslive` is the days of the listing on the OLX until the card is sold or withdrawn. 


Answer the following questions using the provided dataset. You can write down intermediate results towards the final answers.

In [145]:
import pandas as pd
import numpy as np
import math
from scipy import stats

### Question 1 (15 points) 

The dataset can store up to 10,000 car listings and therefore in total contains 3 parts. 

Meanwhile, each part of the data contains a few errors that need to be resolved:

- the ```price``` column of part1 is mistakenly encoded as ```prices``` 
- the ```region_id``` column of part 1 is all in the wrong sign, e.g. the region_id of 11 is wrongly encoded as -11
- the ```private_business``` column of part2 is mistakenly encoded as ```private```
- the ```mileage``` column of part2 is miscalculated by taking a logarithm of its original value
- the ```capacity``` column of part3 is wrongly set as missing value when the capacity is 5
- the ```model``` column of part3 is wrongly encoded with also the ```make``` columns, e.g. BMW 320 should have BMW in the column ```make``` and 320 in the column ```model```.

Read the datasets and concatenate them all into one dataset and show how many car listings are in the entire dataset?

In [92]:
car_part1 = pd.read_csv("cars_dataset_part1.csv")
car_part2 = pd.read_csv("cars_dataset_part2.csv")
car_part3= pd.read_csv("cars_dataset_part3.csv")

In [93]:
car_part1.rename(columns = {"prices": "price"}, inplace = True)

In [94]:
car_part1["region_id"] = - car_part1["region_id"]

In [95]:
car_part2.rename(columns = {"private" : "private_business"}, inplace=True)

In [96]:
for i in range(len(car_part2)):
    car_part2["mileage"][i] = math.exp(car_part2["mileage"][i])

<ipython-input-96-8ce289db6856>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_part2["mileage"][i] = math.exp(car_part2["mileage"][i])

In [97]:
car_part3["capacity"] = car_part3["capacity"].replace(np.nan, 5)

In [98]:
for i in range(len(car_part3)):
    car_part3["model"][i] = car_part3["model"][i].split("-")[1]

<ipython-input-98-517b23ada18f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_part3["model"][i] = car_part3["model"][i].split("-")[1]

In [99]:
len(car_part1)

10000

In [100]:
len(car_part2)

10000

In [101]:
len(car_part3)

6370

In [102]:
cars_12 = car_part1.merge(car_part2, how="outer")

C:\Users\andre\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1103: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

In [103]:
len(cars_12)

20000

In [104]:
all_cars = cars_12.merge(car_part3, how="outer")

C:\Users\andre\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1092: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

In [152]:
all_cars.head(20)

,Unnamed: 0,Unnamed: 0.1,ID,region_id,private_business,price,make,model,fuel_type,mileage,reg_year,eng_capacity,color,capacity,dayslive
0,0,0,6321a87b1e923f46d9acdf3322fcee72a6879188,11,business,29250.0,mini,cooper,diesel,14500.0,2017,1496,blue,5,15
1,1,1,0a3d81767bf143b60729f7ee1c764db91f05f557,13,business,3999.0,land-rover,freelander,diesel,150000.0,2000,2000,green,5,98
2,2,2,2671be1fef116b2d5b1d6ecebb734ce349232ca2,11,business,30600.0,mercedes-benz,c-250,diesel,118827.0,2013,2143,white,5,110
3,3,3,628ac15170274c64fa4aa70b3a917cbc1b2c4d89,11,business,25500.0,volvo,xc-60,diesel,102519.0,2013,1984,other,5,17
4,4,4,5a73a4a249f4044b9b42eae533cb6a72b4a0c35a,11,business,7000.0,opel,vectra,diesel,120000.0,2004,2172,blue,5,33
5,5,5,e85d5fce84da779cffd6580f84dc10132127410b,1,business,15690.0,peugeot,208,diesel,17000.0,2017,1560,white,5,61
6,6,6,7ed7809141c6843e1f70f2f4d301990c6c3a10a1,11,business,25980.0,audi,q3,diesel,74203.0,2012,1968,white,5,13
7,7,7,d95227746424fee19c9018c7c92123632e3d4784,13,business,31900.0,mercedes-benz,c-220,diesel,164528.0,2014,2143,white,5,16
8,8,8,efb84661abde911bb0797bad3d6704da3bb2b448,17,business,23500.0,toyota,auris,hibride-gaz,5000.0,2017,1800,white,5,152
9,9,9,0fc365436870d4dd30d41995a268da93763aaf2e,13,business,22900.0,bmw,320,diesel,136000.0,2011,1995,white,4,133
10,10,10,066297f59d5e33929fb851cb29642e8fc94525eb,0,business,15990.0,peugeot,308-sw,diesel,99750.0,2016,1560,white,5,87
11,11,11,79af5510c3e12e8ac65d0dba36c090454d4f0339,11,business,13490.0,opel,corsa,diesel,29200.0,2016,1300,green,5,99
12,12,12,281014383d7e131ee3276cb46fa5251638b6400b,13,business,16990.0,audi,a3-sportback,diesel,175000.0,2013,1600,white,5,41
13,13,13,95d7de8ae4fa217baefc3dbe08c1eae0ee9a2ec6,11,private,17990.0,lexus,is-200,diesel,96450.0,2011,2200,white,5,11
14,14,14,e01074b2206b714868b62ba75783523bfcddec2c,17,private,12900.0,alfa-romeo,giulietta,diesel,189000.0,2010,2000,white,5,13
15,15,15,f69b5315b867f1400532c94bb05d31078e745fa7,8,business,6950.0,audi,a6-avant,gaz,209122.0,2000,2771,blue,5,16
16,16,16,574a784dfa57a99406e96ffb3a5b492fc56e235f,11,business,15740.0,fiat,tipo,diesel,21964.0,2016,1300,blue,5,110
17,17,17,b0f76896abaecd2afe6091ecfa3776f8a4d78bf4,11,business,20500.0,seat,leon,diesel,75000.0,2014,2000,blue,5,33
18,18,18,5e6c19f68104848cec4cb47191426f49947e8e87,11,business,4900.0,renault,grand-espace,diesel,303000.0,2005,2200,blue,7,13
19,19,19,9c870a3e0b2befab89c7b9b78830b6e765340abe,13,business,17600.0,bmw,118,diesel,120000.0,2010,2000,white,5,19

In [107]:
print(f"There are {len(all_cars)} car listings in the entire dataset.")

There are 26370 car listings in the entire dataset.

### Question 2 (5 points) 
Show the average price of all diesel cars

In [110]:
all_cars.loc[all_cars["fuel_type"] == "diesel"]["price"].mean()

17820.627270439607

In [115]:
all_cars.groupby("fuel_type")["price"].mean()

fuel_type
diesel            17820.627270
electric          22560.138686
gaz               12985.464888
gpl                8210.989583
hibride-diesel    22507.048897
hibride-gaz       60504.885057
Name: price, dtype: float64

### Question 3 (5 points)

Show the median mileage of all eletric vehicles from region 13:

In [124]:
eletric_cars = all_cars.loc[all_cars["fuel_type"] == "electric"]

In [126]:
eletric_cars.loc[eletric_cars["region_id"] == 13]["mileage"].median()

37500.000000000044

### Question 4 (5 points)

Show the top 5 most popular car make listed by private owners and registered since 2017:

In [129]:
private_owned = all_cars.loc[all_cars["private_business"] == "private"]

In [135]:
private_owned.loc[private_owned["reg_year"] >= 2017].groupby("make")["make"].count().sort_values(ascending= False).head(5)

make
renault          17
mercedes-benz    16
fiat             10
peugeot           8
vw                7
Name: make, dtype: int64

### Question 5 (5 points)

Show the difference of average price of diesel cars with mileage larger than 100,000 kms and smaller than 5,000 kms. What do you find? How about gaz cars?

In [138]:
diesel_cars = all_cars.loc[all_cars["fuel_type"] == "diesel"]

In [140]:
diesel_mileage_100000 = diesel_cars.loc[diesel_cars["mileage"] > 100000]["price"].mean()

In [142]:
diesel_mileage_5000 = diesel_cars.loc[diesel_cars["mileage"] < 5000]["price"].mean()

In [144]:
diesel_mileage_5000 - diesel_mileage_100000

13777.693426680786

In [150]:
print("There seems to be a very large difference in the average price between diesel cars with the different mileages.")

There seems to be a very large difference in the average price between diesel cars with the different mileages.

In [151]:
## Gaz Cars

In [153]:
gaz_cars = all_cars.loc[all_cars["fuel_type"] == "gaz"]

In [154]:
gaz_mileage_100000 = gaz_cars.loc[gaz_cars["mileage"] > 100000]["price"].mean()

In [155]:
gaz_mileage_5000 = gaz_cars.loc[gaz_cars["mileage"] < 5000]["price"].mean()

In [156]:
gaz_mileage_5000 - gaz_mileage_100000

16055.175199451085

In [158]:
print("For gaz cars, the difference in average price is even bigger than for eletric cars. This \
may stem from a feeling that gaz cars degrade faster.")

For gaz cars, the difference in average price is even bigger than for eletric cars. This may stem from a feeling that gaz cars degrade faster.

### Question 6 (5 points)

For cars with the most popular color, how many of them are sold by business sellers in region 11 and with capacity of 5 passengers?

In [162]:
all_cars.groupby("color")["color"].count().sort_values(ascending= False).head()

color
white    11180
blue      6117
other     4621
red       1811
green     1090
Name: color, dtype: int64

In [163]:
white_cars = all_cars.loc[all_cars["color"] == "white"]

In [166]:
white_region11 = white_cars.loc[white_cars["region_id"] == 11]

In [167]:
white_region11_capacity= white_region11.loc[white_region11["capacity"] == 5]

In [169]:
print(f"The most popular color is white, and there are {len(white_region11_capacity)} cars being sold in region 11\
and with capacity of 5 passengers.")

The most popular color is white, and there are 2331 cars being sold in region 11and with capacity of 5 passengers.

### Question 7 (5 points)

Which model is listed the most expensive? On average, how many days does this model stay on the listing?

In [175]:
all_cars.groupby("model")["price"].max().sort_values(ascending = False)

model
a6-avant      5526125.0
918-spyder    1370000.0
s-65           369800.0
urus           319995.0
huracan        311900.0
                ...
espero            500.0
uno               465.0
12                450.0
128               350.0
gs-450              1.0
Name: price, Length: 943, dtype: float64

In [176]:
print("The 'a6-avant' car model is the most expensive one.")

The 'a6-avant' car model is the most expensive one.

In [179]:
average_a6avant = all_cars.loc[all_cars["model"] == "a6-avant"]["dayslive"].mean()

In [183]:
print(f"The most expensive car model, 'a6-avant', stays on average {int(average_a6avant)} days on the listing.")

The most expensive car model, 'a6-avant', stays on average 62 days on the listing.

### Qustion 8 (5 points)

For cars listed in region of 11 and 13, can you identify the top 5 model and make of cars that have the highest sales (i.e. the listing days smaller or less than 30 days)?

In [186]:
cars_11_13 = all_cars.loc[all_cars["region_id"].isin([11, 13])]

In [190]:
cars_11_13_days = cars_11_13.loc[cars_11_13["dayslive"] < 30]

In [195]:
cars_11_13.groupby(["model", "make"])["dayslive"].count().sort_values(ascending = False).head(5)

model    make
clio     renault    517
megane   renault    410
ibiza    seat       370
fortwo   smart      343
qashqai  nissan     322
Name: dayslive, dtype: int64

### Qustion 9 (5 points)

Show the correlation between mileage, reg_year, eng_capacity and price. What do you observe?

In [219]:
all_cars["mileage"].corr(all_cars["reg_year"])

-0.6279172740014026

In [220]:
all_cars["mileage"].corr(all_cars["eng_capacity"])

0.17003119764374372

In [221]:
all_cars["mileage"].corr(all_cars["price"])

-0.14536624805251405

### Qustion 10 (5 points)

Show the pivot table of mean and standard deviation for car prices  across the type of sellers and region (as the row), and fuel_types (as the column). If there are no available cars in each category, set the value to be 0.

In [215]:
all_cars.pivot_table("price", index= ["private_business", "region_id"], columns = "fuel_type",\
                     aggfunc =["mean", "std"], fill_value=0)

                                    mean                               \
fuel_type                         diesel      electric            gaz
private_business region_id
business         0          20550.248071      0.000000   15897.691700
                 1          17659.665763  28034.750000   12164.144295
                 2          24987.500000  16950.000000   16037.942857
                 3          17054.836252  24118.307692   13246.293160
                 4          15020.583333      0.000000   19621.666667
                 5          24728.804348  33575.000000   12428.095238
                 6          18595.707763  19320.000000   13625.443038
                 7          17822.631579      0.000000    9900.000000
                 8          22474.551237  31950.000000   15271.347368
                 9          27856.000000      0.000000       0.000000
                 10         19602.729730  23289.285714   17122.114504
                 11         18440.020091  19183.413793   13468.685528
                 12         15072.225000  24900.000000   11503.928571
                 13         17258.326041  25189.560000   12750.645135
                 14         16216.750973  10680.000000   12402.887097
                 15         18784.863805  21962.105263   12417.971888
                 16         19764.510638  49161.666667   34334.769231
                 17         16378.260870  14000.000000    7924.955556
                 18         17762.067308      0.000000   11877.653846
                 31             0.000000      0.000000  119000.000000
                 43             0.000000      0.000000       0.000000
                 54             0.000000      0.000000    7273.000000
private          1          16333.716049  13990.000000   14112.826087
                 2          19075.000000      0.000000    1987.500000
                 3          13907.708333      0.000000   16013.857143
                 4          16686.000000      0.000000   12500.000000
                 5          18248.300000      0.000000    1900.000000
                 6          11859.190476  14500.000000    9293.529412
                 7          10563.888889      0.000000    4800.000000
                 8          13855.876712      0.000000   14301.444444
                 9          10628.571429      0.000000    1775.000000
                 10         10361.903226      0.000000   13668.181818
                 11         12569.756493  19917.900000    8645.751337
                 12          8375.000000      0.000000   13125.000000
                 13         14074.290123  30950.000000    8100.049296
                 14         12263.021739      0.000000    6063.176471
                 15         11583.450262  14830.000000    8547.394737
                 16         13704.157895      0.000000    9033.333333
                 17         13794.900000      0.000000    9250.000000
                 18         14283.178571      0.000000    7292.500000
                 31         33316.666667      0.000000   12483.333333
                 42         12583.333333      0.000000    7500.000000
                 43             0.000000      0.000000   24331.000000
                 45         22000.000000      0.000000       0.000000

                                                                       \
fuel_type                            gpl hibride-diesel   hibride-gaz
private_business region_id
business         0          19900.000000   18726.666667  2.790000e+04
                 1           5125.000000   20035.285714  2.928680e+04
                 2              0.000000       0.000000  0.000000e+00
                 3           4187.800000   26172.090909  4.288685e+04
                 4              0.000000   14500.000000  0.000000e+00
                 5              0.000000   54000.000000  2.682312e+04
                 6           9500.000000   17616.333333  4.390833e+04
                 7              0.000000   32680.000000  0.000000e+00
                 8              0.000000   21675.000000  3.585273e+04
                 9              0.000000       0.000000  0.000000e+00
                 10          8900.000000   20297.142857  1.619980e+05
                 11          6352.136364   21276.123077  3.336085e+04
                 12             0.000000       0.000000  0.000000e+00
                 13         11903.470588   22259.460317  3.197656e+04
                 14          2200.000000   34725.000000  3.720000e+04
                 15         10102.142857   27574.494615  4.785614e+04
                 16          4750.000000   32490.000000  4.076560e+04
                 17             0.000000   21184.750000  3.678000e+04
                 18             0.000000   22796.666667  4.016633e+04
                 31             0.000000       0.000000  0.000000e+00
                 43             0.000000       0.000000  5.526125e+06
                 54             0.000000       0.000000  0.000000e+00
private          1          14800.000000       0.000000  0.000000e+00
                 2              0.000000       0.000000  0.000000e+00
                 3           4500.000000   18130.000000  1.865000e+04
                 4              0.000000       0.000000  0.000000e+00
                 5           1000.000000       0.000000  0.000000e+00
                 6           3250.000000   20500.000000  0.000000e+00
                 7              0.000000       0.000000  0.000000e+00
                 8              0.000000       0.000000  1.150000e+04
                 9              0.000000       0.000000  0.000000e+00
                 10          7775.000000   21875.000000  0.000000e+00
                 11          7562.500000   20267.500000  2.313990e+04
                 12             0.000000       0.000000  2.400000e+04
                 13          5584.285714   20847.272727  1.756250e+04
                 14         12000.000000       0.000000  4.500000e+04
                 15         11000.000000   21450.000000  2.754950e+04
                 16             0.000000       0.000000  0.000000e+00
                 17          6900.000000       0.000000  0.000000e+00
                 18          2990.000000       0.000000  0.000000e+00
                 31             0.000000       0.000000  0.000000e+00
                 42             0.000000       0.000000  0.000000e+00
                 43             0.000000       0.000000  0.000000e+00
                 45             0.000000       0.000000  0.000000e+00

                                     std                              \
fuel_type                         diesel      electric           gaz
private_business region_id
business         0          10150.004868      0.000000  25996.890325
                 1          11153.573682   6877.106241  14766.598562
                 2           9929.957380      0.000000   6355.869251
                 3          10458.131676  17117.830968  16737.637101
                 4           7303.991874      0.000000  10902.420679
                 5          14421.487391   4702.260095   7351.688121
                 6          13038.900990  11426.845584   8989.483571
                 7           8146.813857      0.000000   5656.854249
                 8          13525.591965      0.000000  22165.494799
                 9          13341.537767      0.000000      0.000000
                 10         11146.705397  14943.524177  29566.664988
                 11         10049.918076   9593.798821  20006.541042
                 12          8613.669880      0.000000   5734.686021
                 13         10667.485741  17514.857117  18369.606854
                 14          9345.928148   5136.117211  17725.678667
                 15         10564.153793  14980.131129  11217.100469
                 16         13555.943503  44036.301597  61483.767856
                 17         10635.734167   4949.747468   6958.440267
                 18         11959.527039      0.000000  10428.993466
                 31                  NaN           NaN           NaN
                 43                  NaN           NaN           NaN
                 54                  NaN           NaN           NaN
private          1          11105.977304      0.000000  11537.811241
                 2          18012.710790      0.000000    475.000000
                 3           9676.051712      0.000000  15118.193918
                 4           7927.041062      0.000000      0.000000
                 5           6343.192853      0.000000   1131.370850
                 6           6579.527295  10960.155108   7790.103450
                 7           9023.015923      0.000000      0.000000
                 8           8837.732312      0.000000  33882.106887
                 9          11160.901141      0.000000    176.776695
                 10          8470.113531      0.000000  37433.984895
                 11          8931.792151  16538.792099  10227.157230
                 12         10146.982310      0.000000  12197.591975
                 13         10465.748584  32456.201256   9045.379724
                 14          7756.568114      0.000000   5733.149083
                 15          8327.492720   7289.835389  10072.610681
                 16          8631.623616      0.000000   6806.124693
                 17          6473.122558      0.000000   8131.727984
                 18         10665.967647      0.000000   7441.928993
                 31          9110.479314      0.000000   8963.862635
                 42         10589.892980      0.000000      0.000000
                 43             0.000000      0.000000  27621.005087
                 45                  NaN           NaN           NaN


fuel_type                            gpl hibride-diesel    hibride-gaz
private_business region_id
business         0          25597.265479    1250.213315    8844.678249
                 1           4939.045117    3508.499639   11916.373442
                 2              0.000000       0.000000       0.000000
                 3           1243.910849   14099.688561   31209.323195
                 4              0.000000    1414.213562       0.000000
                 5              0.000000       0.000000    6062.286388
                 6              0.000000    2409.763529   17453.177839
                 7              0.000000       0.000000       0.000000
                 8              0.000000    4837.440783   13893.709433
                 9              0.000000       0.000000       0.000000
                 10             0.000000    3832.039119  424608.416356
                 11          4420.349602    6472.825536   29854.643782
                 12             0.000000       0.000000       0.000000
                 13         11104.026286   11016.389817   23634.099150
                 14             0.000000    7389.265863   39032.294321
                 15          4989.039030    9050.753178   48773.355667
                 16             0.000000       0.000000   19139.010797
                 17             0.000000    4192.162475   16454.809327
                 18             0.000000    4622.827418   26135.961821
                 31                  NaN            NaN            NaN
                 43                  NaN            NaN            NaN
                 54                  NaN            NaN            NaN
private          1              0.000000       0.000000       0.000000
                 2              0.000000       0.000000       0.000000
                 3              0.000000    1756.331404    4737.615434
                 4              0.000000       0.000000       0.000000
                 5              0.000000       0.000000       0.000000
                 6              0.000000       0.000000       0.000000
                 7              0.000000       0.000000       0.000000
                 8              0.000000       0.000000       0.000000
                 9              0.000000       0.000000       0.000000
                 10          6420.994212    5126.524164       0.000000
                 11          6719.999469    7688.443554   11482.437221
                 12             0.000000       0.000000       0.000000
                 13          3591.549606    8179.128427    8612.914238
                 14             0.000000       0.000000       0.000000
                 15          7071.067812    9927.361180    3746.958834
                 16             0.000000       0.000000       0.000000
                 17             0.000000       0.000000       0.000000
                 18             0.000000       0.000000       0.000000
                 31             0.000000       0.000000       0.000000
                 42             0.000000       0.000000       0.000000
                 43             0.000000       0.000000       0.000000
                 45                  NaN            NaN            NaN